<!DOCTYPE html>
<html>
    <head>
        <title>Create | KahootClone</title>
        <link rel="stylesheet" href = "static/css/create.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <!-- <a id = "back"href = "/">Back</a> -->
        <button id = "cancel" onclick = "">Ready to Connect Host Device</button>
        <h1 id = "title">Start Kahoot Game</h1>
        <!-- need to create some game here -->
        <h4 id = "subtitle">Choose a game or <a id = "link" href = "quiz-creator">Create new game !</a></h4>
        <div id = "game-list">
        </div>
        <script src = "static/socket.io/socket.io.js"></script>
        <script src = "static/js/create.js"></script>
    </body>
</html>